extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        .box-shadow



            h1= project.projectName

            p= project.description

      .project-tech-links-box.box
        .box-shadow
          h6 Technologies
          ul
            each tech in project.technologies
              li= tech
    
          a.btn-link(href=`${project.liveLink}`, target="_blank") Live Demo
          a.btn-link(href=`${project.githubLink}`, target="_blank") GitHub Repo

    .project-img-box.box

      each image in project.images.imageUrls
        img.project-img(src=`${image}` alt=`${project.projectName}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
